Source: evohome-rf
Section: misc
Priority: optional
Maintainer: Simon Arlott <ubuntu@sa.me.uk>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.1.4

Package: evohome-rf
Architecture: all
Depends: ${misc:Depends}, python3 (>= 3.5.1), python3-yaml (>= 3.11), python3-tzlocal (>= 1.2)
Description: Evohome RF utilities
 Applications for handling Evohome RF communication.
